html, body {
  background: black;
  color: #00b800;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'PT Mono', monospace;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  font-family: 'PT Mono', monospace;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  font-family: 'PT Mono', monospace;
  border: 3px solid black;
  width: 600px;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}

textarea:disabled {
  background-color: #8A9A5B;
}

#reset {
  cursor: pointer;
}

p {
  font-size: 12px;
}